body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#button-grid {
    height: 35px; 
    width: 155px;
    border-radius: 10px;
}

#container-grid {
    display: flex;
    flex-wrap: wrap;
    border: solid 1px grey;
    width: 550px;
    height: 500px;
}

.quadrati {
    border: 1px solid grey;
    box-sizing: border-box;
    aspect-ratio: 1 / 1;
}